*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.Container, .boardContainer{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.hidden{
    display: none;
}

.StartSection{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.StartSection > .inputs{
    display: flex;
    gap: 30px;
}

.Container .playerName{
    color: wheat;
}

.Container .playerName > .pName{
    height: 25px;
}


.StartGame, .replayBtn{
    align-self: center;
    width: 150px;
    height: 50px;
    background-color: red;
    border: 2px white solid;
    border-radius: 20px;
}

.StartGame:hover , .replayBtn:hover{
    border:3px orange solid;
}

.StartText, .replayText{
    font-weight: bold;
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:white;
}



.boardContainer{
    display: flex;
    flex-direction: column;
    gap:50px;
}

.alert{
    color:white;
    background-color: rgba(255, 2, 2, 0.4);
}

.board{
    width: 640px;
    height: 640px;
    display: grid;
    grid-template-rows: repeat(3,1fr);
}

.row{
  
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.row.top{
    border-top: 10px red ridge;
    border-left: 10px red ridge;
    border-right: 10px red ridge;
}

.row.mid{
    border:10px red ridge;
}

.row.bottom{
    border-left: 10px red ridge;
    border-right: 10px red ridge;
    border-bottom: 10px red ridge;
}

.square.mid{
    border-left: 10px red ridge;
    border-right: 10px red ridge;
    box-sizing: content-box;
    
}

.square{
    width: 200px;
    height: 200px;

}